{% extends 'core/base.html'%}
{% load static %}


{% block content %}
<div class="card-group">
    <div class="card bg-negro">
        <div class="card-header bg-dark text-white">
            <h4>
                <i class="fab fa-battle-net text-success"></i>&nbsp;
                Radiograf&iacute;as de: 
                <span class="text-primary">
                    {{paciente.nombre}} {{paciente.apellido}} 
                </span>
            </h4>
        </div>
    </div>
</div>


{% if lista %}
    <div class="row row-cols-1 row-cols-md-4" id="content">
        {% for l in lista %}
            {% for img in l %}          
            <div class="col mb-4">            
                <div class="card h-100 mt-3">
                    <a href="{{img.imagen.url}}" data-toggle="lightbox">            
                        <img src="{{img.imagen.url}}" class="p-3 img-fluid">                       
                    </a>

                    <div class="card-body"></div>
                    
                    <!--<div class="card-footer text-center">
                        <a href="#" class="btn btn-primary btn-sm" download="{{img.imagen.url}}">Descargar</a>
                    </div>-->
                </div>                
            </div>            
            {% endfor %}
        {% endfor %}
    </div>
{% else %}
    <div class="row">
        <div class="card-body text-center">
            <p class="alert alert-primary">
                No existen radiograf&iacute;as para el paciente seleccionado.
            </p>
            <button type="button" onclick="history.back()" class="btn btn-secondary btn-sm">
                <i class="fas fa-backward"></i>&nbsp;Volver
            </button>               
        </div>
    </div>
{% endif %}
{% endblock %}
