{% extends 'core/base.html'%}
{% load static %}

{% block content %}
<div class="card-group">
    <div class="card bg-negro">
        <div class="card-header bg-dark text-white">
            <h4>
                <i class="fab fa-battle-net text-success"></i>&nbsp;Tratamientos de: 
                <span class="text-success">{{paciente.nombre}} {{paciente.apellido}}</span>
                <span class="text-muted float-right">
                    <small>
                        <a href="{% url 'paciente:historia_clinica' paciente.numDocumento%}" class="btn btn-success btn-sm">Ver historia clínica</a>
                    </small>
                </span>
            </h4>
        </div>
    </div>
</div>

{% if tratamientos %}
        <div class="row row-cols-1 row-cols-md-3 mt-3">
            {% for t in tratamientos %}
            <div class="col mb-4">            
                <div class="card h-100">                  
                    <div class="card-body">
                        <h6 class="card-title text-verde text-uppercase text-center">
                            {{t.nombre}}
                        </h6>                    
                        <hr>
                        <p class="card-text text-justify">
                            Fecha: {{ t.created }}
                        </p>
                    </div>
                  
                    <div class="card-footer text-center">
                        <a href="{% url 'tratamiento:ver_tratamiento' t.id %}" class="btn btn-outline-success">
                            Ver tratamiento
                        </a>
                    </div>
                </div>
            </div>           
            {% endfor %}
        </div>
{% else %}
    <div class="row">
        <div class="card-body text-center">
            <p class="alert alert-primary">
                No existen tratamientos para el paciente seleccionado.
            </p>
            <button type="button" onclick="history.back()" class="btn btn-secondary btn-sm">
                <i class="fas fa-backward"></i>&nbsp;Volver
            </button>                
        </div>        
    </div>        
{% endif %}

<div class="mt-3">
    {% include 'tratamiento/paginator.html' %}
</div>

{% endblock %}