{% extends 'core/base.html'%}
{% load static %}

{% block css%}
<style>
    /*label{display:none;}*/
    .errorlist{color: red;}
</style>
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<div class="card-group">
    <div class="card bg-dark">
        <div class="card-header bg-dark text-white">
            <h4><i class="fab fa-battle-net text-success"></i>&nbsp;Registrar Paciente</h4>
        </div>
    </div>
</div>


<div class="container-fluid mt-5">
    <form action="" method="POST">
        {% csrf_token %}


        <div class="form-row">
            <div class="form-group col-md-6">                
                <select class="custom-select" name="tipoId" required id="id_Tipo" required >
                    <option selected>Tipo de identificación :</option>
                    <option value="Cédula de Ciudadanía">Cédula de Ciudadanía</option>
                    <option value="Carné Diplomático">Carné Diplomático</option>         
                    <option value="Cédula de Extranjería">Cédula de Extranjería</option>     
                    <option value="Documento Extranjero">Documento Extranjero</option>     
                    <option value="Pasaporte">Pasaporte</option>     
                    <option value="Permiso Especial de Permanencia">Permiso Especial de Permanencia</option>     
                    <option value="Permiso por Protección Temporal">Permiso por Protección Temporal</option>     
                    <option value="Registro Civil de Nacimiento">Registro Civil de Nacimiento</option>     
                    <option value="Salvoconducto">Salvoconducto</option>     
                    <option value="Tarjeta de Identidad">Tarjeta de Identidad</option>                
                </select>
            </div>
        <div class="form-group col-md-6">
            <input type="text" name="numDocumento" maxlength="15" class="form-control" required placeholder="Numero de identificación"> 
        </div>
        </div>
            
        <div class="form-row">
            <div class="form-group col-md-6">
                <input type="text" name="nombre" maxlength="50" class="form-control" required placeholder="Nombre"> 
            </div>
            <div class="form-group col-md-6">
                <input type="text" name="apellido" maxlength="50" class="form-control" required placeholder="Apellido"> 
            </div>
        </div>

        <div class="form-row">

            <div class="form-group col-md-6">
                <input type="text" name="telefono" maxlength="20" class="form-control" required placeholder="Teléfono"> 
            </div>         
            <div class="form-group col-md-6">
                <input type="text" name="telefonoDos" maxlength="20" class="form-control" required placeholder="Teléfono en caso de emergencia"> 
            </div>         
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <input type="email" name="email" class="form-control" placeholder="Email"> 
            </div>
            <div class="form-group col-md-2 mt-2">
                <label>Fecha de nacimiento</label>
            </div>
            <div class="form-group col-md-4">
                <input type="date" name="fecha_nacimiento" class="form-control" placeholder="Fecha de nacimiento"> 
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-12">
                <input type="text" name="direccion" maxlength="150" class="form-control" placeholder="Dirección">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-2">                
                <select class="custom-select" name="sexo" required id="id_sexo" required>
                    <option selected>Sexo:</option>
                    <option value="Femenino">Femenino</option>
                    <option value="Masculino">Masculino</option>                    
                </select>
            </div>
            <div class="form-group col-md-6">
                <input type="text" class="form-control" name="ocupacion" maxlength="100" required id="id_ocupacion" placeholder="Ocupación">
            </div>

            <div class="form-group col-md-2">                
                <select class="custom-select" name="sangre" required id="id_sangre" required>
                    <option selected>Grupo sanguineo:</option>
                    <option value="Grupo A">Grupo A</option>  
                    <option value="Grupo AB">Grupo AB</option>      
                    <option value="Grupo B">Grupo B</option>      
                    <option value="Grupo O">Grupo O</option>      
                </select>
            </div>
            <div class="form-group col-md-2">                
                <select class="custom-select" name="rh" required id="id_rh" required>
                    <option selected>Factor RH:</option>
                    <option value="Negativo">Negativo</option>    
                    <option value="Positivo">Positivo</option>    
                </select>
            </div>

        </div>

        <div class="form-row">
            <div class="form-group col-md-5">                
                <select class="custom-select" name="grupoRiesgo" required id="id_Grupo" required>
                    <option selected>Grupo de riesgo:</option>
                    <option value="Población con diagnóstico">Población con diagnóstico</option>    
                    <option value="Talento humano en salud">Talento humano en salud</option>    
                    <option value="Ninguno">Ninguno</option>    
                    <option value="Poblacion 60 años y mas">Poblacion 60 años y mas</option>    
                    <option value="Gestante">Gestante</option>    
                    <option value="Migrante">Migrante</option>    
                </select>
            </div>
            <div class="form-group col-md-7">                
                <select class="custom-select" name="condicionSalud" required id="id_condiSalud" required>
                    <option selected>Presenta alguna condición de salud?:</option>
                    <option value="Enfermedad coronaria">Enfermedad coronaria</option>
                    <option value="Insuficiencia renal">Insuficiencia renal</option>      
                    <option value="Insuficiencia cardíaca congestiva">Insuficiencia cardíaca congestiva</option>   
                    <option value="Asplenia">Asplenia</option>   
                    <option value="Diabetes">Diabetes</option>   
                    <option value="Enfermedad pulmonar obstructiva crónica">Enfermedad pulmonar obstructiva crónica</option>   
                    <option value="Cáncer">Cáncer</option>      
                    <option value="Paciente con diagnóstico de VIH">Paciente con diagnóstico de VIH</option>   
                    <option value="Malformación gastrointestinales no corregida">Malformación gastrointestinales no corregida</option>   
                    <option value="Enfermedades neurológicas">Enfermedades neurológicas</option>   
                    <option value="Alergia a los antibióticos">Alergia a los antibióticos</option>   
                    <option value="Trastornos hematológicos">Trastornos hematológicos</option>   
                    <option value="Alergia a vacunas o a componentes de vacunas">Alergia a vacunas o a componentes de vacunas</option>   
                    <option value="Anomalía cardíaca">Anomalía cardíaca</option>   
                    <option value="Asma">Asma</option>   
                    <option value="Enfermedad que induce al inmunocompromiso">Enfermedad que induce al inmunocompromiso</option>   
                    <option value="Síndrome de down ">Síndrome de down </option>   
                    <option value="Obesidad mórbida">Obesidad mórbida</option>   
                    <option value="Enfermedades hepáticas crónicas">Enfermedades hepáticas crónicas</option>   
                    <option value="Tuberculosis">Tuberculosis</option>   
                    <option value="Gestantes">Gestantes</option>   

           
                </select>
            </div>           
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">                
                <select class="custom-select" name="regimen" required id="id_Regimen" required>
                    <option selected>Régimen:</option>
                    <option value="Contributivo">Contributivo</option>  
                    <option value="Subsidiado">Subsidiado</option>  
                    <option value="Excepción">Excepción</option>  
                    <option value="Especial">Especial</option>  
                    <option value="No asegurado">No asegurado</option>  
                </select>
            </div>
            <div class="form-group col-md-4">                
                <select class="custom-select" name="aseguradora" required id="id_Aseguradora" required>
                    <option selected>Aseguradora:</option>
                    <option value="CCFC15 - COMFACOR(M)">CCFC15 - COMFACOR(M)</option>  
                    <option value="CCFC20 - COMFACHOCÓ (M)">CCFC20 - COMFACHOCÓ (M)</option>  
                    <option value="CCFC24 - COMFAMILIAR HUILA (M)">CCFC24 - COMFAMILIAR HUILA (M)</option>  
                    <option value="CCFC53 - COMFACUNDI UNICAJAS (M)">CCFC53 - COMFACUNDI UNICAJAS (M)</option>  
                    <option value="CCFC55 - CAJACOPI ATLÁNTICO (M)">CCFC55 - CAJACOPI ATLÁNTICO (M)</option>  
                    <option value="EPS001 - ALIANSALUD">EPS001 - ALIANSALUD</option>  
                    <option value="EPS002 - SALUD TOTAL">EPS002 - SALUD TOTAL</option>  
                    <option value="EPS005 - SANITAS">EPS005 - SANITAS</option>  
                    <option value="EPS008 - COMPENSAR">EPS008 - COMPENSAR</option>  
                    <option value="EPS010 - EPS SURA">EPS010 - EPS SURA</option>  
                    <option value="EPS016 - COOMEVA">EPS016 - COOMEVA</option>  
                    <option value="EPS017 - FAMISANAR">EPS017 - FAMISANAR</option>  
                    <option value="EPS018 - SERVICIO OCCIDENTAL DE SALUD S.O.S.">EPS018 - SERVICIO OCCIDENTAL DE SALUD S.O.S.</option>  
                    <option value="EPS023 - CRUZ BLANCA">EPS023 - CRUZ BLANCA</option>  
                    <option value="EPS033 - SALUDVIDA">EPS033 - SALUDVIDA</option>  
                    <option value="EPS037 - NUEVA EPS">EPS037 - NUEVA EPS</option>  
                    <option value="EPS040 - SAVIA SALUD (M)">EPS040 - SAVIA SALUD (M)</option>  
                    <option value="EPS041 - NUEVA EPS (M)">EPS041 - NUEVA EPS (M)</option>  
                    <option value="EPS042 - COOSALUD">EPS042 - COOSALUD</option>  
                    <option value="EPS044 - MEDIMAS">EPS044 - MEDIMAS</option>  
                    <option value="EPSC22 - CONVIDA (M)">EPSC22 - CONVIDA (M)</option>  
                    <option value="EPSC25 - CAPRESOCA (M)">EPSC25 - CAPRESOCA (M)</option>  
                    <option value="EPSC33 - SALUDVIDA (M)">EPSC33 - SALUDVIDA (M)</option>  
                    <option value="EPSC34 - CAPITAL SALUD (M)">EPSC34 - CAPITAL SALUD (M)</option>  
                    <option value="EPSS44 - MEDIMAS (M)">EPSS44 - MEDIMAS (M)</option>  
                    <option value="ESSC02 - EMDISALUD E.S.S. (M)">ESSC02 - EMDISALUD E.S.S. (M)</option>  
                    <option value="ESSC07 - MUTUAL SER E.S.S. (M)">ESSC07 - MUTUAL SER E.S.S. (M)</option>  
                    <option value="ESSC18 - EMSSANAR E.S.S. (M)">ESSC18 - EMSSANAR E.S.S. (M)</option>  
                    <option value="ESSC24 - COOSALUD E.S.S. (M)">ESSC24 - COOSALUD E.S.S. (M)</option>  
                    <option value="ESSC33 - COMPARTA E.S.S. (M)">ESSC33 - COMPARTA E.S.S. (M)</option>  
                    <option value="ESSC62 - ASMET SALUD E.S.S. (M)">ESSC62 - ASMET SALUD E.S.S. (M)</option>  
                    <option value="ESSC76 - AMBUQ E.S.S">ESSC76 - AMBUQ E.S.S</option>  
                    <option value="ESSC91 - ECOOPSOS E.S.S. (M)">ESSC91 - ECOOPSOS E.S.S. (M)</option>  
                    
                </select>
            </div>
            <div class="form-group col-md-4">                
                <select class="custom-select" name="tipoAfi" required id="id_Afiliacion" required>
                    <option selected>Tipo de afiliación:</option>
                    <option value="Cotizante">Cotizante</option>  
                    <option value="Beneficiario">Beneficiario</option>  
                </select>
            </div>

        </div>

        <div class="form-row">
            <div class="form-group col-md-12">
                <textarea name="observaciones" cols="40" rows="10" id="id_observaciones" class="form-control" placeholder="Observaciones"></textarea>
            </div>
        </div>


        <div class="form-row">
            <div class="form-group col-md-6">
                <button type="submit" class="btn btn-success btn-block">
                   <i class="fa fa-user"></i>&nbsp; Guardar datos
                </button>
            </div>
        </div>
        
    </form>             
</div>

{% endblock %}