{% extends 'core/base.html' %}

{% load static %}

{% block css%}
<style>
    /* Tooltip container */
.mitooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.mitooltip .mitooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.mitooltip .mitooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.mitooltip:hover .mitooltiptext {
  visibility: visible;
  opacity: 1;
}


</style>

{% endblock %}

{% load crispy_forms_tags %}

{% block content %}

<div class="card-group">
    <div class="card bg-negro">
        <div class="card-header bg-dark text-white">
            <h4>
                <i class="fab fa-battle-net text-success"></i>&nbsp;Vacunas de:
                <span class="text-success" style="text-transform:capitalize">{{paciente.nombre}} {{paciente.apellido}}</span>

            </h4>
        </div>
    </div>
</div>



<div class="table-responsive">
    <table id="tabla" class="table table-hover">
        <thead>
            <tr class="text-center" >
                <th scope="col">Vacunas\Dosis</th>
                <th scope="col">Única</th>
                <th scope="col">Primera dosis</th>
                <th scope="col">Segunda dosis</th>
                <th scope="col">Tercera dosis</th>
                <th scope="col">Cuarta dosis</th>
                <th scope="col">Quinta dosis</th>
                <th scope="col">Refuerzo</th>
                <th scope="col">Segundo Refuerzo</th>



            </tr>
        </thead>
        
        <tbody>

            <tr>
                <td scope="row">DPT ACELULAR</td>

                <td ><a href="{% url 'biologicos:informacionva' paciente.id 17000 %}" class="text-muted" id="DPT_ACELULAR_U" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 17001 %}" class="text-muted" id="DPT_ACELULAR_1" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 17002 %}" class="text-muted" id="DPT_ACELULAR_2" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 17003 %}" class="text-muted" id="DPT_ACELULAR_3" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 17004 %}" class="text-muted" id="DPT_ACELULAR_4" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 17005 %}" class="text-muted" id="DPT_ACELULAR_5" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 17006 %}" class="text-muted" id="DPT_ACELULAR_R1" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 17007 %}" class="text-muted" id="DPT_ACELULAR_R2" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>

                
                
            </tr>
            <tr>
                        

                
                <td scope="row">NEUMOCOCO CONJUGADO</td>
                
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 1000 %}" class="text-muted" id="NEUMOCOCO_CONJUGADO_U" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 1001 %}" class="text-muted" id="NEUMOCOCO_CONJUGADO_1" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 1002 %}" class="text-muted" id="NEUMOCOCO_CONJUGADO_2" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 1003 %}" class="text-muted" id="NEUMOCOCO_CONJUGADO_3" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 1004 %}" class="text-muted" id="NEUMOCOCO_CONJUGADO_4" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 1005 %}" class="text-muted" id="NEUMOCOCO_CONJUGADO_5" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 1006 %}" class="text-muted" id="NEUMOCOCO_CONJUGADO_R1" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 1007 %}" class="text-muted" id="NEUMOCOCO_CONJUGADO_R2" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>

                
            </tr>
            <tr>
                <td scope="row">MENINGOCOCO</td>
                
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 2000 %}" class="text-muted" id="MENINGOCOCO_U" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 2001 %}" class="text-muted" id="MENINGOCOCO_1" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 2002 %}" class="text-muted" id="MENINGOCOCO_2" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 2003 %}" class="text-muted" id="MENINGOCOCO_3" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 2004 %}" class="text-muted" id="MENINGOCOCO_4" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 2005 %}" class="text-muted" id="MENINGOCOCO_5" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 2006 %}" class="text-muted" id="MENINGOCOCO_R1" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 2007 %}" class="text-muted" id="MENINGOCOCO_R2" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
  
            </tr>
            
            <tr><td scope="row">TRIPLE VIRAL</td>
                
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 3000 %}" class="text-muted" id="TRIPLE_VIRAL_U" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 3001 %}" class="text-muted" id="TRIPLE_VIRAL_1" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 3002 %}" class="text-muted" id="TRIPLE_VIRAL_2" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 3003 %}" class="text-muted" id="TRIPLE_VIRAL_3" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 3004 %}" class="text-muted" id="TRIPLE_VIRAL_4" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 3005 %}" class="text-muted" id="TRIPLE_VIRAL_5" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 3006 %}" class="text-muted" id="TRIPLE_VIRAL_R1" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 3007 %}" class="text-muted" id="TRIPLE_VIRAL_R2" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
  
            </tr>
            <tr><td scope="row">VARICELA</td>
                
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 4000 %}" class="text-muted" id="VARICELA_U" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 4001 %}" class="text-muted" id="VARICELA_1" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 4002 %}" class="text-muted" id="VARICELA_2" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 4003 %}" class="text-muted" id="VARICELA_3" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 4004 %}" class="text-muted" id="VARICELA_4" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 4005 %}" class="text-muted" id="VARICELA_5" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 4006 %}" class="text-muted" id="VARICELA_R1" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 4007 %}" class="text-muted" id="VARICELA_R2" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
  
            </tr>
            <tr><td scope="row">HEPATITIS A</td>
                
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 5000 %}" class="text-muted" id="HEPATITIS_A_U" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 5001 %}" class="text-muted" id="HEPATITIS_A_1" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 5002 %}" class="text-muted" id="HEPATITIS_A_2" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 5003 %}" class="text-muted" id="HEPATITIS_A_3" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 5004 %}" class="text-muted" id="HEPATITIS_A_4" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 5005 %}" class="text-muted" id="HEPATITIS_A_5" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 5006 %}" class="text-muted" id="HEPATITIS_A_R1" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 5007 %}" class="text-muted" id="HEPATITIS_A_R2" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
  
            </tr>
            <tr><td scope="row">FIEBRE AMARILLA</td>
                
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 6000 %}" class="text-muted" id="FIEBRE_AMARILLA_U" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 6001 %}" class="text-muted" id="FIEBRE_AMARILLA_1" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 6002 %}" class="text-muted" id="FIEBRE_AMARILLA_2" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 6003 %}" class="text-muted" id="FIEBRE_AMARILLA_3" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 6004 %}" class="text-muted" id="FIEBRE_AMARILLA_4" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 6005 %}" class="text-muted" id="FIEBRE_AMARILLA_5" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 6006 %}" class="text-muted" id="FIEBRE_AMARILLA_R1" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 6007 %}" class="text-muted" id="FIEBRE_AMARILLA_R2" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
  
            </tr>
            <tr><td scope="row">INFLUENZA</td>
                
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 7000 %}" class="text-muted" id="INFLUENZA_U" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 7001 %}" class="text-muted" id="INFLUENZA_1" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 7002 %}" class="text-muted" id="INFLUENZA_2" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 7003 %}" class="text-muted" id="INFLUENZA_3" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 7004 %}" class="text-muted" id="INFLUENZA_4" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 7005 %}" class="text-muted" id="INFLUENZA_5" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 7006 %}" class="text-muted" id="INFLUENZA_R1" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 7007 %}" class="text-muted" id="INFLUENZA_R2" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
  
            </tr>
            <tr><td scope="row">COVID</td>
                
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 8000 %}" class="text-muted" id="COVID_U" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 8001 %}" class="text-muted" id="COVID_1" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 8002 %}" class="text-muted" id="COVID_2" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 8003 %}" class="text-muted" id="COVID_3" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 8004 %}" class="text-muted" id="COVID_4" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 8005 %}" class="text-muted" id="COVID_5" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 8006 %}" class="text-muted" id="COVID_R1" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 8007 %}" class="text-muted" id="COVID_R2" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
  
            </tr>
            <tr><td scope="row">HERPES ZOSTER</td>
                
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 9000 %}" class="text-muted" id="HERPES_ZOSTER_U" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 9001 %}" class="text-muted" id="HERPES_ZOSTER_1" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 9002 %}" class="text-muted" id="HERPES_ZOSTER_2" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 9003 %}" class="text-muted" id="HERPES_ZOSTER_3" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 9004 %}" class="text-muted" id="HERPES_ZOSTER_4" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 9005 %}" class="text-muted" id="HERPES_ZOSTER_5" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 9006 %}" class="text-muted" id="HERPES_ZOSTER_R1" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 9007 %}" class="text-muted" id="HERPES_ZOSTER_R2" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
  
            </tr>
            <tr><td scope="row">HEPATITIS B</td>
                
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 10000 %}" class="text-muted" id="HEPATITIS_B_U" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 10001 %}" class="text-muted" id="HEPATITIS_B_1" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 10002 %}" class="text-muted" id="HEPATITIS_B_2" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 10003 %}" class="text-muted" id="HEPATITIS_B_3" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 10004 %}" class="text-muted" id="HEPATITIS_B_4" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 10005 %}" class="text-muted" id="HEPATITIS_B_5" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 10006 %}" class="text-muted" id="HEPATITIS_B_R1" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 10007 %}" class="text-muted" id="HEPATITIS_B_R2" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
  
            </tr>
            <tr><td scope="row">ANTIRRABICA</td>
                
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 11000 %}" class="text-muted" id="ANTIRRABICA_U" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 11001 %}" class="text-muted" id="ANTIRRABICA_1" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 11002 %}" class="text-muted" id="ANTIRRABICA_2" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 11003 %}" class="text-muted" id="ANTIRRABICA_3" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 11004 %}" class="text-muted" id="ANTIRRABICA_4" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 11005 %}" class="text-muted" id="ANTIRRABICA_5" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 11006 %}" class="text-muted" id="ANTIRRABICA_R1" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 11007 %}" class="text-muted" id="ANTIRRABICA_R2" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
  
            </tr>
            <tr><td scope="row">VPH</td>
                
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 12000 %}" class="text-muted" id="VPH_U" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 12001 %}" class="text-muted" id="VPH_1" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 12002 %}" class="text-muted" id="VPH_2" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 12003 %}" class="text-muted" id="VPH_3" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 12004 %}" class="text-muted" id="VPH_4" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 12005 %}" class="text-muted" id="VPH_5" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 12006 %}" class="text-muted" id="VPH_R1" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 12007 %}" class="text-muted" id="VPH_R2" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
  
            </tr>
            <tr><td scope="row">HA+HB</td>
                
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 13000 %}" class="text-muted" id="HA_HB_U" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 13001 %}" class="text-muted" id="HA_HB_1" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 13002 %}" class="text-muted" id="HA_HB_2" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 13003 %}" class="text-muted" id="HA_HB_3" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 13004 %}" class="text-muted" id="HA_HB_4" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 13005 %}" class="text-muted" id="HA_HB_5" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 13006 %}" class="text-muted" id="HA_HB_R1" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 13007 %}" class="text-muted" id="HA_HB_R2" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
  
            </tr>
            <tr><td scope="row">TETANO ANTITETANICA</td>
                
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 14000 %}" class="text-muted" id="TETANO_ANTITETANICA_U" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 14001 %}" class="text-muted" id="TETANO_ANTITETANICA_1" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 14002 %}" class="text-muted" id="TETANO_ANTITETANICA_2" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 14003 %}" class="text-muted" id="TETANO_ANTITETANICA_3" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 14004 %}" class="text-muted" id="TETANO_ANTITETANICA_4" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 14005 %}" class="text-muted" id="TETANO_ANTITETANICA_5" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 14006 %}" class="text-muted" id="TETANO_ANTITETANICA_R1" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 14007 %}" class="text-muted" id="TETANO_ANTITETANICA_R2" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
  
            </tr>
            <tr><td scope="row">TETANO DIFTERICO</td>
                
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 15000 %}" class="text-muted" id="TETANO_DIFTERICO_U" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 15001 %}" class="text-muted" id="TETANO_DIFTERICO_1" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 15002 %}" class="text-muted" id="TETANO_DIFTERICO_2" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 15003 %}" class="text-muted" id="TETANO_DIFTERICO_3" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 15004 %}" class="text-muted" id="TETANO_DIFTERICO_4" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 15005 %}" class="text-muted" id="TETANO_DIFTERICO_5" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 15006 %}" class="text-muted" id="TETANO_DIFTERICO_R1" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 15007 %}" class="text-muted" id="TETANO_DIFTERICO_R2" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
  
            </tr>
            <tr><td scope="row">FIEBRE TIFOIDEA</td>
                
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 16000 %}" class="text-muted" id="FIEBRE_TIFOIDEA_U" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 16001 %}" class="text-muted" id="FIEBRE_TIFOIDEA_1" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 16002 %}" class="text-muted" id="FIEBRE_TIFOIDEA_2" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 16003 %}" class="text-muted" id="FIEBRE_TIFOIDEA_3" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 16004 %}" class="text-muted" id="FIEBRE_TIFOIDEA_4" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 16005 %}" class="text-muted" id="FIEBRE_TIFOIDEA_5" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 16006 %}" class="text-muted" id="FIEBRE_TIFOIDEA_R1" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 16007 %}" class="text-muted" id="FIEBRE_TIFOIDEA_R2" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
  
            </tr>

            
            

        </tbody>
    </table>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>



<script>
    
    const bioesquema = {"DPT_ACELULAR_U":"{{DPT_ACELULAR_U}}",
                    "DPT_ACELULAR_1":"{{DPT_ACELULAR_1}}",
                    "DPT_ACELULAR_2":"{{DPT_ACELULAR_2}}",
                    "DPT_ACELULAR_3":"{{DPT_ACELULAR_3}}",
                    "DPT_ACELULAR_4":"{{DPT_ACELULAR_4}}",
                    "DPT_ACELULAR_5":"{{DPT_ACELULAR_5}}",
                    "DPT_ACELULAR_R1":"{{DPT_ACELULAR_R1}}",
                    "DPT_ACELULAR_R2":"{{DPT_ACELULAR_R2}}",
                    "DPT_ACELULAR_R3":"{{DPT_ACELULAR_R3}}",
                    "NEUMOCOCO_CONJUGADO_U":"{{NEUMOCOCO_CONJUGADO_U}}",
                    "NEUMOCOCO_CONJUGADO_1":"{{NEUMOCOCO_CONJUGADO_1}}",
                    "NEUMOCOCO_CONJUGADO_2":"{{NEUMOCOCO_CONJUGADO_2}}",
                    "NEUMOCOCO_CONJUGADO_3":"{{NEUMOCOCO_CONJUGADO_3}}",
                    "NEUMOCOCO_CONJUGADO_4":"{{NEUMOCOCO_CONJUGADO_4}}",
                    "NEUMOCOCO_CONJUGADO_5":"{{NEUMOCOCO_CONJUGADO_5}}",
                    "NEUMOCOCO_CONJUGADO_R1":"{{NEUMOCOCO_CONJUGADO_R1}}",
                    "NEUMOCOCO_CONJUGADO_R2":"{{NEUMOCOCO_CONJUGADO_R2}}",
                    "NEUMOCOCO_CONJUGADO_R3":"{{NEUMOCOCO_CONJUGADO_R3}}",
                    "MENINGOCOCO_U":"{{MENINGOCOCO_U}}",
                    "MENINGOCOCO_1":"{{MENINGOCOCO_1}}",
                    "MENINGOCOCO_2":"{{MENINGOCOCO_2}}",
                    "MENINGOCOCO_3":"{{MENINGOCOCO_3}}",
                    "MENINGOCOCO_4":"{{MENINGOCOCO_4}}",
                    "MENINGOCOCO_5":"{{MENINGOCOCO_5}}",
                    "MENINGOCOCO_R1":"{{MENINGOCOCO_R1}}",
                    "MENINGOCOCO_R2":"{{MENINGOCOCO_R2}}",
                    "MENINGOCOCO_R3":"{{MENINGOCOCO_R3}}",
                    "TRIPLE_VIRAL_U":"{{TRIPLE_VIRAL_U}}",
                    "TRIPLE_VIRAL_1":"{{TRIPLE_VIRAL_1}}",
                    "TRIPLE_VIRAL_2":"{{TRIPLE_VIRAL_2}}",
                    "TRIPLE_VIRAL_3":"{{TRIPLE_VIRAL_3}}",
                    "TRIPLE_VIRAL_4":"{{TRIPLE_VIRAL_4}}",
                    "TRIPLE_VIRAL_5":"{{TRIPLE_VIRAL_5}}",
                    "TRIPLE_VIRAL_R1":"{{TRIPLE_VIRAL_R1}}",
                    "TRIPLE_VIRAL_R2":"{{TRIPLE_VIRAL_R2}}",
                    "TRIPLE_VIRAL_R3":"{{TRIPLE_VIRAL_R3}}",
                    "VARICELA_U":"{{VARICELA_U}}",
                    "VARICELA_U":"{{VARICELA_U}}",
                    "VARICELA_2":"{{VARICELA_2}}",
                    "VARICELA_3":"{{VARICELA_3}}",
                    "VARICELA_4":"{{VARICELA_4}}",
                    "VARICELA_5":"{{VARICELA_5}}",
                    "VARICELA_R1":"{{VARICELA_R1}}",
                    "VARICELA_R2":"{{VARICELA_R2}}",
                    "VARICELA_R3":"{{VARICELA_R3}}",
                    "HEPATITIS_A_U":"{{HEPATITIS_A_U}}",
                    "HEPATITIS_A_1":"{{HEPATITIS_A_1}}",
                    "HEPATITIS_A_2":"{{HEPATITIS_A_2}}",
                    "HEPATITIS_A_3":"{{HEPATITIS_A_3}}",
                    "HEPATITIS_A_4":"{{HEPATITIS_A_4}}",
                    "HEPATITIS_A_5":"{{HEPATITIS_A_5}}",
                    "HEPATITIS_A_R1":"{{HEPATITIS_A_R1}}",
                    "HEPATITIS_A_R2":"{{HEPATITIS_A_R2}}",
                    "HEPATITIS_A_R3":"{{HEPATITIS_A_R3}}",
                    "FIEBRE_AMARILLA_U":"{{FIEBRE_AMARILLA_U}}",
                    "FIEBRE_AMARILLA_1":"{{FIEBRE_AMARILLA_1}}",
                    "FIEBRE_AMARILLA_2":"{{FIEBRE_AMARILLA_2}}",
                    "FIEBRE_AMARILLA_3":"{{FIEBRE_AMARILLA_3}}",
                    "FIEBRE_AMARILLA_4":"{{FIEBRE_AMARILLA_4}}",
                    "FIEBRE_AMARILLA_5":"{{FIEBRE_AMARILLA_5}}",
                    "FIEBRE_AMARILLA_R1":"{{FIEBRE_AMARILLA_R1}}",
                    "FIEBRE_AMARILLA_R2":"{{FIEBRE_AMARILLA_R2}}",
                    "FIEBRE_AMARILLA_R3":"{{FIEBRE_AMARILLA_R3}}",
                    "INFLUENZA_U":"{{INFLUENZA_U}}",
                    "INFLUENZA_1":"{{INFLUENZA_1}}",
                    "INFLUENZA_2":"{{INFLUENZA_2}}",
                    "INFLUENZA_3":"{{INFLUENZA_3}}",
                    "INFLUENZA_4":"{{INFLUENZA_4}}",
                    "INFLUENZA_5":"{{INFLUENZA_5}}",
                    "INFLUENZA_R1":"{{INFLUENZA_R1}}",
                    "INFLUENZA_R2":"{{INFLUENZA_R2}}",
                    "INFLUENZA_R3":"{{INFLUENZA_R3}}",
                    "COVID_U":"{{COVID_U}}",
                    "COVID_1":"{{COVID_1}}",
                    "COVID_2":"{{COVID_2}}",
                    "COVID_3":"{{COVID_3}}",
                    "COVID_4":"{{COVID_4}}",
                    "COVID_5":"{{COVID_5}}",
                    "COVID_R1":"{{COVID_R1}}",
                    "COVID_R2":"{{COVID_R2}}",
                    "COVID_R3":"{{COVID_R3}}",
                    "HERPES_ZOSTER_U":"{{HERPES_ZOSTER_U}}",             
                    "HERPES_ZOSTER_1":"{{HERPES_ZOSTER_1}}",
                    "HERPES_ZOSTER_2":"{{HERPES_ZOSTER_2}}",
                    "HERPES_ZOSTER_3":"{{HERPES_ZOSTER_3}}",
                    "HERPES_ZOSTER_4":"{{HERPES_ZOSTER_4}}",
                    "HERPES_ZOSTER_5":"{{HERPES_ZOSTER_5}}",
                    "HERPES_ZOSTER_R1":"{{HERPES_ZOSTER_R1}}",
                    "HERPES_ZOSTER_R2":"{{HERPES_ZOSTER_R2}}",
                    "HERPES_ZOSTER_R3":"{{HERPES_ZOSTER_R3}}",
                    "HEPATITIS_B_U":"{{HEPATITIS_B_U}}",                
                    "HEPATITIS_B_1":"{{HEPATITIS_B_1}}",
                    "HEPATITIS_B_2":"{{HEPATITIS_B_2}}",
                    "HEPATITIS_B_3":"{{HEPATITIS_B_3}}",
                    "HEPATITIS_B_4":"{{HEPATITIS_B_4}}",
                    "HEPATITIS_B_5":"{{HEPATITIS_B_5}}",
                    "HEPATITIS_B_R1":"{{HEPATITIS_B_R1}}",
                    "HEPATITIS_B_R2":"{{HEPATITIS_B_R2}}",
                    "HEPATITIS_B_R3":"{{HEPATITIS_B_R3}}",
                    "ANTIRRABICA_U":"{{ANTIRRABICA_U}}",
                    "ANTIRRABICA_1":"{{ANTIRRABICA_1}}",
                    "ANTIRRABICA_2":"{{ANTIRRABICA_2}}",
                    "ANTIRRABICA_3":"{{ANTIRRABICA_3}}",
                    "ANTIRRABICA_4":"{{ANTIRRABICA_4}}",
                    "ANTIRRABICA_5":"{{ANTIRRABICA_5}}",
                    "ANTIRRABICA_R1":"{{ANTIRRABICA_R1}}",
                    "ANTIRRABICA_R2":"{{ANTIRRABICA_R2}}",
                    "ANTIRRABICA_R3":"{{ANTIRRABICA_R3}}",
                    "VPH_U":"{{VPH_U}}",
                    "VPH_1":"{{VPH_1}}", 
                    "VPH_2":"{{VPH_2}}",   
                    "VPH_3":"{{VPH_3}}",
                    "VPH_4":"{{VPH_4}}",
                    "VPH_5":"{{VPH_5}}",
                    "VPH_R1":"{{VPH_R1}}",
                    "VPH_R2":"{{VPH_R2}}",
                    "VPH_R3":"{{VPH_R3}}",
                    "HA_HB_U":"{{HA_HB_U}}",
                    "HA_HB_1":"{{HA_HB_1}}",
                    "HA_HB_2":"{{HA_HB_2}}",
                    "HA_HB_3":"{{HA_HB_3}}",
                    "HA_HB_4":"{{HA_HB_4}}",
                    "HA_HB_5":"{{HA_HB_5}}",
                    "HA_HB_R1":"{{HA_HB_R1}}",
                    "HA_HB_R2":"{{HA_HB_R2}}",
                    "HA_HB_R3":"{{HA_HB_R3}}",          
                    "TETANO_ANTITETANICA_U":"{{TETANO_ANTITETANICA_U}}",
                    "TETANO_ANTITETANICA_1":"{{TETANO_ANTITETANICA_1}}",
                    "TETANO_ANTITETANICA_2":"{{TETANO_ANTITETANICA_2}}",      
                    "TETANO_ANTITETANICA_3":"{{TETANO_ANTITETANICA_3}}",
                    "TETANO_ANTITETANICA_4":"{{TETANO_ANTITETANICA_4}}",
                    "TETANO_ANTITETANICA_5":"{{TETANO_ANTITETANICA_5}}",  
                    "TETANO_ANTITETANICA_R1":"{{TETANO_ANTITETANICA_R1}}",
                    "TETANO_ANTITETANICA_R2":"{{TETANO_ANTITETANICA_R2}}",
                    "TETANO_ANTITETANICA_R3":"{{TETANO_ANTITETANICA_R3}}",  
                    "TETANO_DIFTERICO_U":"{{TETANO_DIFTERICO_U}}",
                    "TETANO_DIFTERICO_1":"{{TETANO_DIFTERICO_1}}",
                    "TETANO_DIFTERICO_2":"{{TETANO_DIFTERICO_2}}",  
                    "TETANO_DIFTERICO_3":"{{TETANO_DIFTERICO_3}}",
                    "TETANO_DIFTERICO_4":"{{TETANO_DIFTERICO_4}}",
                    "TETANO_DIFTERICO_5":"{{TETANO_DIFTERICO_5}}",
                    "TETANO_DIFTERICO_R1":"{{TETANO_DIFTERICO_R1}}",
                    "TETANO_DIFTERICO_R2":"{{TETANO_DIFTERICO_R2}}",
                    "TETANO_DIFTERICO_R3":"{{TETANO_DIFTERICO_R3}}",   
                    "FIEBRE_TIFOIDEA_U":"{{FIEBRE_TIFOIDEA_U}}",
                    "FIEBRE_TIFOIDEA_1":"{{FIEBRE_TIFOIDEA_1}}",
                    "FIEBRE_TIFOIDEA_2":"{{FIEBRE_TIFOIDEA_2}}",   
                    "FIEBRE_TIFOIDEA_3":"{{FIEBRE_TIFOIDEA_3}}",
                    "FIEBRE_TIFOIDEA_4":"{{FIEBRE_TIFOIDEA_4}}",
                    "FIEBRE_TIFOIDEA_5":"{{FIEBRE_TIFOIDEA_5}}",  
                    "FIEBRE_TIFOIDEA_R1":"{{FIEBRE_TIFOIDEA_R1}}",
                    "FIEBRE_TIFOIDEA_R2":"{{FIEBRE_TIFOIDEA_R2}}",
                    "FIEBRE_TIFOIDEA_R3":"{{FIEBRE_TIFOIDEA_R3}}",   

                };

    
    const hola ={hola:"todo",quedijo:"el lo dijo",parachava:"caliaji"};
    alert("todo")
    alert(Object.keys(hola))
    
    for(let i in bioesquema){
    
   
    // alert(bioesquema[i]);

        if (bioesquema[i] =="si"){

    //             // var b=document.querySelector("#"+bioesquema[i]);
               var b=document.getElementById(i);
                
                b.setAttribute("class","text-primary");
                b.setAttribute("Style","font-size: 30px;");


        

        }else{
            alert(i+"nada cargado")
        }
    }

    // var b=document.getElementById("MENINGOCOCO_4");
    //     b.setAttribute("class","text-primary");
    //     b.setAttribute("Style","font-size: 30px;")
    //     console.log(i+"no es parcero");

    // alert("{{NEUMOCOCO_CONJUGADO_3}}")

    // let neumococo3="{{NEUMOCOCO_CONJUGADO_3}}"
    // let influenza="{{influenza}}"

    // let tomalo="tercerNeumo"

    

    // if (neumococo3=="si"){

    //     var b=document.querySelector("#"+tomalo);
    //     b.setAttribute("class","text-primary");
    //     b.setAttribute("Style","font-size: 30px;")


        
    // }
    






    $(document).ready(function(){
    $("#primerNeumo").click(function(){
        alert(this.id);
        //var b=document.querySelector("#primerNeumo");
        //b.setAttribute("class","text-secundary")

    });
    });



</script>



<div class="mt-5"></div>


{% endblock %}