{% extends 'core/base.html' %}

{% load static %}

{% block css%}
<style>
    /* Tooltip container */
.mitooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.mitooltip .mitooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.mitooltip .mitooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.mitooltip:hover .mitooltiptext {
  visibility: visible;
  opacity: 1;
}


</style>

{% endblock %}

{% load crispy_forms_tags %}

{% block content %}

<div class="card-group">
    <div class="card bg-negro">
        <div class="card-header bg-dark text-white">
            <h4>
                <i class="fab fa-battle-net text-success"></i>&nbsp;Vacunas de:
                <span class="text-success" style="text-transform:capitalize">{{paciente.nombre}} {{paciente.apellido}}</span>

            </h4>
        </div>
    </div>
</div>



<div class="table-responsive">
    <table id="tabla" class="table table-hover">
        <thead>
            <tr class="text-center" >
                <th scope="col">Vacunas\Dosis</th>
                <th scope="col">Única</th>
                <th scope="col">Primera dosis</th>
                <th scope="col">Segunda dosis</th>
                <th scope="col">Tercera dosis</th>
                <th scope="col">Cuarta dosis</th>
                <th scope="col">Quinta dosis</th>
                <th scope="col">Refuerzo</th>
                <th scope="col">Segundo Refuerzo</th>



            </tr>
        </thead>
        
        <tbody>

            <tr>
                <td scope="row">DPT ACELULAR</td>
                
            </tr>
            <tr>
                <td scope="row">NEUMOCOCO CONJUGADO {{neumotres}}</td>
                
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 1000 %}" class="text-muted" id="primerNeumo"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 1001 %}"  class="text-muted" id="segundaNeumo">

                <i class="fas fa-syringe mitooltip">
                    <span class="text-white mitooltiptext">Esta vacuna ya fue aplicada</span>
                </i>
                </a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 1002 %}" class="text-muted" id="primerNeumo" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 1003 %}" class="text-muted" id="tercerNeumo" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 1004 %}" class="text-muted" id="primerNeumo" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 1005 %}" class="text-muted" id="primerNeumo" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 1006 %}" class="text-muted" id="primerNeumo" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="{% url 'biologicos:informacionva' paciente.id 1007 %}" class="text-muted" id="primerNeumo" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>

                
            </tr>
            <tr>
                <td scope="row">MENINGOCOCO</td>
                <td ><a href="#" class="text-muted" id="primerNeumo" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="#" class="text-muted" id="primerNeumo" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="#" class="text-muted" id="primerNeumo" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="#" class="text-muted" id="primerNeumo" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="#" class="text-muted" id="primerNeumo" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="#" class="text-muted" id="primerNeumo" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="#" class="text-muted" id="primerNeumo" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>
                <td ><a href="#" class="text-muted" id="primerNeumo" style="font-size: 20px;"><i class="fas fa-syringe"></i></a></td>    
            </tr>
            
            <tr><td scope="row">TRIPLE VIRAL</td></tr>
            <tr><td scope="row">VARICELA</td></tr>
            <tr><td scope="row">HEPATITIS A</td></tr>
            <tr><td scope="row">FIEBRE AMARILLA</td></tr>
            <tr><td scope="row">INFLUENZA</td></tr>
            <tr><td scope="row">COVID</td></tr>
            <tr><td scope="row">HERPES ZOSTER</td></tr>
            <tr><td scope="row">HEPATITIS B</td></tr>
            <tr><td scope="row">ANTIRRABICA</td></tr>
            <tr><td scope="row">VPH</td></tr>
            <tr><td scope="row">HA+HB</td></tr>
            <tr><td scope="row">TETANO ANTITETANICA</td></tr>
            <tr><td scope="row">TETANO DIFTERICO</td></tr>
            <tr><td scope="row">FIEBRE TIFOIDEA</td></tr>

            
            

        </tbody>
    </table>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>



<script>
    
 
    let neumococo3="{{neumococo}}"
    let influenza="{{influenza}}"


    if (neumococo3=="si"){

        var b=document.querySelector("#tercerNeumo");
        b.setAttribute("class","text-primary");
        b.setAttribute("Style","font-size: 30px;")


        
    }
    






    $(document).ready(function(){
    $("#primerNeumo").click(function(){
        alert(this.id);
        //var b=document.querySelector("#primerNeumo");
        //b.setAttribute("class","text-secundary")

    });
    });



</script>



<div class="mt-5"></div>


{% endblock %}