{% extends 'core/base.html'%}
{% load static %}

{% block css%}
{% endblock %}

{% block content %}
<div class="card-group">
    <div class="card bg-negro">
        <div class="card-header bg-dark text-white">
            <h4><i class="fab fa-battle-net text-success"></i>&nbsp;S G P</h4>
        </div>
    </div>
</div>



<div class="container-fluid mt-5 text-center">   
    <h1 class="text-center text-verde">Sistema de Gesti&oacute;n de Pacientes</h1>
    <img src="{% static 'img/logo2.png' %}" class="img-fluid" style="width: 50%;">
</div>
<br>


{% endblock %}